<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version:</b> {{sys.version}}
    </div>
    <strong>Created by <a href="https://www.linkedin.com/in/dominic-santos-b0a7bb129/">Dominic Santos</a> for <a href="https://lockwoodpublishing.com/">Lockwood Publishing</a></strong> 
</footer>