<head>
    {% include 'title.html' %}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}?v={{sys.version}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}?v={{sys.version}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/ionicons.min.css')}}?v={{sys.version}}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}?v={{sys.version}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/AdminLTE.min.css')}}?v={{sys.version}}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/all-skins.min.css')}}?v={{sys.version}}">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}?v={{sys.version}}">
</head>
