{% extends "layout.html" %}

{% block content %}
    <section class="content-header">
        <h1>
            Homepage
            <small></small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Backend Challenge Info</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <p>We kindly ask that you complete the below assignment as part of your application.</p>

                        <p>Imagine you've been asked to design and implement a timeline of events happening in a company.</p>

                        <p>You decided to write an API that will allow the register of events in order to display them later. Examples of events are:</p>
                        <ul>
                            <li>Deployment of the fresh release of the game your company makes.</li>
                            <li>Changes of configuration for upcoming event in the game.</li>
                            <li>Game outage, affecting one or more mobile platforms.</li>
                            <li>Some other events of your choice (please think what other events can occur in the system).</li>
                        </ul>

                        <p>Task:</p>
                        <ol>
                            <li>Implement API to store and retrieve events using framework of your choice.</li>
                            <li>API should allow to filter events at least by event type.</li>
                            <li>Implement a simple web page to display the events or CLI.</li>
                            <li>If possible - web page or cli should display events in real time (receive updates).</li>
                        </ol>

                        <p>Only python3.</p>
                    </div>
                </div>
                <div class="box collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Database Info</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                         <iframe width="100%" height="400" src='https://dbdiagram.io/embed/5ec51ed839d18f5553ff8030'> </iframe> 
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrajs %}
{% endblock %}