<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body class="skin-blue sidebar-mini wysihtml5-supported" id="main-panel">

        <div class="wrapper">
            {% include 'navbar.html' %}
    
            <div class="content-wrapper">
                {% block content %}
                    default content
                {% endblock %}
            </div>

            {% include 'footer.html' %}

            <aside class="control-sidebar control-sidebar-dark"></aside>
            <div class="control-sidebar-bg"></div>
        </div>

        {% include 'scripts.html' %}

        {% block extrajs %}
        {% endblock %}
    </body>
</html>