<ul class="sidebar-menu" data-widget="tree">
    <li>
        <a href="{{url_for('homepage')}}" {% if data.menuname == "homepage" %}class="active-page"{% endif %}>
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="{{url_for('events.list')}}" {% if data.menuname == "list_events" %}class="active-page"{% endif %}>
            <i class="fa fa-calendar-check-o"></i>
            <span>Events</span>
        </a>
    </li>
</ul>
