<header class="main-header">
    <!-- Logo -->
    <a class="logo text-center">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <img class="logo-mini" src="{{url_for('static', filename='images/lkwd-logo-small.png')}}?v={{sys.version}}">
        <!-- logo for regular state and mobile devices -->
        <img class="logo-lg" src="{{url_for('static', filename='images/lkwd-logo.png')}}?v={{sys.version}}">
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- User Account -->
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        Username <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/somewhere">Menu Item</a></li>
                    </ul>
                </li> -->
                <!-- Control Sidebar Toggle Button -->
                <!-- <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">

        {% include 'menu.html' %}
        
    </section>
</aside>
