<script src="{{url_for('static', filename='js/jquery.min.js')}}?v={{sys.version}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}?v={{sys.version}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}?v={{sys.version}}"></script>
<!-- DataTables -->
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}?v={{sys.version}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}?v={{sys.version}}"></script>
<!-- FastClick -->
<script src="{{url_for('static', filename='js/fastclick.js')}}?v={{sys.version}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static', filename='js/adminlte.js')}}?v={{sys.version}}"></script>
