<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{sys.appname|title}} - {{sys.version}}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="robots" content="noindex,nofollow">
<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/LKWD_emblem.png')}}?v={{sys.version}}">