{% extends "layout.html" %}

{% block content %}
    <section class="content-header">
        <h1>
            Events
            <small></small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="event-table" class="table table-striped table-bordered nowrap" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="ws_server" value="{{data.ws_server}}">
    <input type="hidden" id="ws_server_link" value="{{data.ws_server_link}}">
{% endblock %}

{% block extrajs %}
    <script src="{{url_for('events.static', filename='js/list.js')}}?v={{sys.version}}"></script>
{% endblock %}