.hidethis{
    display: none;
}

.content-wrapper {
  background-color: #e2e2e2;
}

.sidebar-menu > li.header{
    color:white !important;
    font-size: 16px;
}

.skin-blue .main-header .navbar {
    background-color: #1a2226;
}

.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover  {
    background-color: #222d32;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #222d32;
}

.logo-lg{
    height: 100%;
    margin:auto;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    width: 30px;
    margin-top: 5px;
    margin-left: -5px;
}

.skin-blue .sidebar a {
    color: #FF7E14;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #FF7E14;
}

.active-page{
    color:lightgreen !important;
}

@media (max-width: 991px){
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        right: 0%;
    }
}

@media (max-width: 767px){
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: #e1e3e9;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: inherit;
    }
    .logo-lg{
        width: 20%;
        margin:auto;
    }
    .main-header .logo{
        height:auto;
    }
}


.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff !important;
    background: #1e282c;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #fff !important;
}

.login-box-msg.login-error{
    color:red;
}

.progress-bar{
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -ms-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

h4 {
    font-weight: bold;
}

.box-header .box-title{
    font-size: 24px !important;
}

div.slider {
    display: none;
}
